[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
tables = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
python-dotenv = "*"
stockstats = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.6"
